h1 {
    font-family: 'Courier New', Courier, monospace;
    display: inline-flex;
    padding-right: 0.4em;
}

body {
    background: rgb(95,95,155);
    background: linear-gradient(90deg, rgba(95,95,155,1) 0%, rgba(242,205,255,1) 75%);
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn {
    background-color: darkviolet;
    border-radius: 5px;
}

.hideMe {
    display: none;
}